*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: hsla(33, 100%, 53%, 1);

    background: linear-gradient(135deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    
    background: -moz-linear-gradient(135deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    
    background: -webkit-linear-gradient(135deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1 );
}

.container{
    width: 90%;
    margin: 0 auto;
}

header{
    font-size: 32px;
    padding: 30px 0;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 30px 0;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.card{
    margin-top: 20px;
    width: 330px;
    border: 1px solid #ccc;
    /* flex: 1; */
    padding: 20px 10px;
    border-radius: 5px;
    background: rgba(235, 0, 255, 0.11);
    backdrop-filter: blur(40px);
}



.a{
    color: black;
}

.b{
    color: blueviolet;
}

.c{
    color: aqua;
}

.d{
    color: violet;
}

.e{
    color: palegreen;
}

.f{
    color: green;
}

.g{
    color: darkred;
}

.h{
    color: aliceblue;
}

.jafar{
  color: black;  
}

.lox{
    color: blueviolet;
}

.gop{
    color: aqua;
}

.bum{
    color: violet;
}

.bee{
    color: palegreen;
}

.fuu{
color:green ;
}

.wow{
    color: darkred;
}

.hoho{
    color: aliceblue;
}

nav a {
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
  }
  nav a:hover,
  nav a.active {
    background: hsla(42, 93%, 57%, 1);

    background: radial-gradient(circle, hsla(42, 93%, 57%, 1) 0%, hsla(358, 78%, 62%, 1) 100%);
    
    background: -moz-radial-gradient(circle, hsla(42, 93%, 57%, 1) 0%, hsla(358, 78%, 62%, 1) 100%);
    
    background: -webkit-radial-gradient(circle, hsla(42, 93%, 57%, 1) 0%, hsla(358, 78%, 62%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F7BA2C", endColorstr="#EA5459", GradientType=1 );
        color: #000000;
    color: #000000;
  }
  